
.ListClass {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFA500;
}

.ListElemClass {
  float: left;
}

.ListElemClass a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ListElemClass a:hover {
  background-color: #FF8C00;
}